{% load static %}

<!DOCTYPE html>

<html>

    <head>


        <meta charset="utf-8">
        
        <title> Veterinaria Animal Lovers </title>
        
        
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Diseño responsivo -->
        
        <meta http-equiv="X-UA-Compatible" content="ie=edge"> <!-- Compatibilidad con navegadores web -->
        
        <title>Pagina con Bootstrap</title>
        <link type="text/css" rel="stylesheet" href="decoracion.css" />
        
        
        <!--Llamada a la hoja de estilo de Bootstrap -->
        
        <link rel="stylesheet" href="stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
        
        integrity="sha384-Vkoo8x4CGs03+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
        
        
        <!-- Llamada a las librerías jQuery, Popper y Bootstrap -->
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src='https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js'></script>
        <script src='{% static "js/Validacion.js" %}'></script>
        
        
    </head>

<body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><a title="Logo" href='{% url "index" %}'><img src='{% static "Image/LogoPagina.jpg" %}' alt="logo" class="img-fluid" style="width: 100px;"/></a></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href='{% url "index" %}'>Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href='{% url "sobrenosotros" %}'>Nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href='{% url "contacto" %}'>Contacto</a>
              </li>
              <li class="nav-item dropdown">
            </ul>
          </li>
        </ul>
      </div>
    </div>
</nav>

    <header>
    <h1>Contactese con nosotros!</h1>
    </header>

    <ul>
        <button><a href='{% url "index" %}'> Inicio </a> </button>
        
        <button><a href='{% url "servicios" %}'> Servicios </a> </button>
        
        <button><a href='{% url "galeriapacientes" %}'> Galeria Pacientes </a> </button>
        
        <button><a href='{% url "medicosvet" %}'> Medicos Veterinarios </a> </button>
        
        <button><a href='{% url "contacto" %}'> Contacto </a> </button>
        
        <button><a href='{% url "sobrenosotros" %}'> Sobre Nosotros </a> </button>
    </ul>

    <p>Formulario de Contacto</p>

<!-- Formulario -->

<div class="container">
  <div class="row justify-content-center">
      <div class="col-md-7">
          <h1 class="display-4">Contacto</h1>
          <hr class="bg-info">
          <p class="pb-0 mb-0">Gracias por comnuicarte con nosotros! te responderemos lo antes posible!</p>
          <br>
      </div>
  </div>
  <form id="Contacto">
      <!--Nombre-->
      <div class="row from-group">
          <label for="Nombre" class="col-form-label col-md-4">Nombre:</label>
          <div class="col-md-8">
              <input type="text" name="Nombre" id="Nombre" class="form-control"
                  placeholder="Juan Carlos Bodoque Hecherria" minlength="10" required>
              
          </div>
      </div>
      <br>

      <!--NumeroRut-->
      <div class="row from-group">
          <label for="Numrut" class="col-form-label col-md-4">Numero de documento o pasaporte:</label>
          <div class="col-md-8">
              <input type="text" name="Numrut" id="Numrut" class="form-control"
                  placeholder="Ingrese su numero rut o codigo de pasaporte" maxlength="15" required>

          </div>
      </div>
      <br>

      <!-- Email -->
      <div class="row form-group">
          <label for="Email" class="col-form-label col-md-4">Email:</label>
          <div class="col-md-8">
              <input type="email" name="Email" id="Email" class="form-control" placeholder="nombre@ejemplo.com"
                  required>
          </div>
      </div>
      <br>
      <!-- Telefono -->
      <div class="row form-group">
          <label for="Telefono" class="col-form-label col-md-4">Telefono:</label>
          <div class="col-md-8">
              <input type="text" name="telefono" id="telefono" class="form-control" placeholder="+56 9 9999 9999">
          </div>
      </div>
            <!--Ciudad-->
            <div class="row from-group">
              <label for="Nombre" class="col-form-label col-md-4">Ciudad actual:</label>
              <div class="col-md-8">
                  <input type="text" name="Ciudad" id="Ciudad" class="form-control"
                      placeholder="Santiago" minlength="5" required>
                  
              </div>
          </div>
          <br>
      <br>
      <!-- Requerimiento -->
      <div class="row form-group">
          <label for="mensaje" class="col-form-label col-md-4">Solicitud a la veterinaria:</label>
          <div class="col-md-8">
              <textarea name="Requerimiento" id="Requerimiento" rows="3" minlength="30" class="form-control" required></textarea>
          </div>
      </div>
      <br>
      <!-- boton -->
      <div class="row form-group">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button class="submit" type="submit" value="submit">Enviar</button>
          </div>
      </div>
  </form>
</div>

    <h1> !Tambien puede ir a visitarnos! </h1>
    <p>Dirigase a nuestro local ubicado en Santa María Teresa 1842</p>


    <hr class="featuredivider"> <!-- DIVISOR -->
<div id="..." class="d-flex justify-content-center">
  <a title="Facebook" href="#"><img src="LogoFace.png" alt="Facebook" class="img-fluid"/></a>
  <a title="whatsapp" href="#"><img src="whatsapplogo.png" alt="Whatsapp" class="img-fluid"/></a>
  <a title="instagram" href="#"><img src="instagramlogo.png" alt="instagram" class="img-fluid"/></a>
</div>
<div class="d-flex justify-content-center">
  <p>Veterinaria Animal Lovers </p>
</div>

        </body>

</html>